In [65]:
import pandas as pd

In [66]:
csv_path = "Resources\\Homework 4 Pandas_HeroesOfPymoli_Resources_purchase_data (1).csv"
heroes_df = pd.read_csv(csv_path)
heroes_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [67]:
number_of_players = len(heroes_df["SN"].unique())
number_of_players_df = pd.DataFrame([{"Total Players" : number_of_players}])
number_of_players_df

   Total Players
0            576

In [68]:
#Purchasing analysis (Total)
unique_items = len(heroes_df["Item Name"].unique())
average_price = round(heroes_df["Price"].mean(),2)
purchases = heroes_df["Purchase ID"].count()
total_revenue = heroes_df["Price"].sum()
purchasing_analysis = pd.DataFrame([{"Unique Items":unique_items,
                                   "Average Price": f"${average_price}",
                                    "Purchases":purchases,
                                    "Total Revenue": f"${total_revenue}"}]) 
                                
purchasing_analysis

   Unique Items Average Price  Purchases Total Revenue
0           179         $3.05        780      $2379.77

In [69]:
#Gender Demographics
unique_players_df = heroes_df.drop_duplicates(subset=["SN"])
summary_demographics_list = unique_players_df["Gender"].value_counts()
summary_demographics_df = pd.DataFrame(summary_demographics_list)
percentages = summary_demographics_df["Gender"]/number_of_players * 100
summary_demographics_df["Percentage of Players"] = percentages 
summary_demographics_df.rename(columns = {"Gender": "Total Count"})

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [108]:
#Purchasing analysis (Gender)
gender_grouped_df = heroes_df.groupby("Gender")
purchase_count = pd.Series(gender_grouped_df["SN"].count())
av_purchase_price = pd.Series(gender_grouped_df["Price"].mean())
total_purchase_value = pd.Series(gender_grouped_df["Price"].sum())
fin_purch_analysis = pd.concat([purchase_count, av_purchase_price, total_purchase_value], axis=1, keys=["Purchase Count", "Average Purchase Price","Total Purchase Value"])
fin_purch_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [111]:
#Age Demographics
bins = [0,9,14,19,24,29,34,39,200]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
unique_players_df["Ages Summary"] = pd.cut(unique_players_df["Age"], bins, labels=group_names, include_lowest=True)
count_df = unique_players_df.groupby("Ages Summary").count()
count_df["Percentage of Players"] = count_df["Purchase ID"] / number_of_players * 100
final_df = count_df[["Purchase ID","Percentage of Players"]]
final_df.rename(columns={"Purchase ID":"Total Count"})

C:\Users\Usuario\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

              Total Count  Percentage of Players
Ages Summary
<10                    17               2.951389
10-14                  22               3.819444
15-19                 107              18.576389
20-24                 258              44.791667
25-29                  77              13.368056
30-34                  52               9.027778
35-39                  31               5.381944
40+                    12               2.083333

In [118]:
#Purchasing analysis (Age)
heroes_df["Ages Summary"] = pd.cut(heroes_df["Age"], bins, labels=group_names, include_lowest=True)
age_grouped_df = heroes_df.groupby("Ages Summary")
purchase_count = pd.Series(age_grouped_df["SN"].count())
av_purchase_price = pd.Series(age_grouped_df["Price"].mean())
total_purchase_value = pd.Series(age_grouped_df["Price"].sum())
final_purch_analysis = pd.concat([purchase_count, av_purchase_price, total_purchase_value], axis=1, keys=["Purchase Count", "Average Purchase Price","Total Purchase Value"])
final_purch_analysis

              Purchase Count  Average Purchase Price  Total Purchase Value
Ages Summary
<10                       23                3.353478                 77.13
10-14                     28                2.956429                 82.78
15-19                    136                3.035956                412.89
20-24                    365                3.052219               1114.06
25-29                    101                2.900990                293.00
30-34                     73                2.931507                214.00
35-39                     41                3.601707                147.67
40+                       13                2.941538                 38.24

In [141]:
#Top Spenders
person_grouped_df = heroes_df.groupby("SN")
pur_count = pd.Series(person_grouped_df["SN"].count())
av_pur_price = pd.Series(person_grouped_df["Price"].mean())
tot_purchase_value = pd.Series(person_grouped_df["Price"].sum())
fin_purch_analysis = pd.concat([purchase_count, av_purchase_price, total_purchase_value], axis=1, keys=["Purchase Count", "Average Purchase Price","Total Purchase Value"])
fin_purch_analysis.sort_values(by="Total Purchase Value", ascending=False)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]